<!DOCTYPE html>
<html>

<head>
    <title>ArrowDB Node SDK Example on Node.ArrowDB</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <h2>ArrowDB Node SDK Example on Node.ArrowDB</h2>
    <%if(!hasArrowDBAppKey) {%>
        <p>Please fill in your ArrowDB app key into config.json</p>
    <%} else {%>
        <p>Please try:<br/>
            <ul>
                <li>curl -b cookie.txt -c cookie.txt -X POST -F "login=YOUR_USERNAME" -F "password=YOUR_PASSWORD" http://localhost:8080/login</li>
                <li>curl -b cookie.txt -c cookie.txt -X GET http://localhost:8080/showMe</li>
         </p>
    <%}%>
</body>

</html>
